### importing packages

In [1]:
import pandas as pd
import re

In [2]:
# increase columns width
pd.set_option('display.max_colwidth', 100)

## load data

In [3]:
# Reading Files to fetch data
#data = pd.read_csv(r"E:\ml_project_playground\classification-of-bangla-comments-from-social-media-using-machine-learning-techniques\data\bangla_online_comments_dataset.csv")

data = pd.read_excel(r"E:\web_app_projects\Bangla-Bully-Detection-using-Machine-Learning\ml-model\dataset\bangla_online_comments_dataset.xlsx")
data.head()

,comment,Category,Gender,comment react number,label
0,ওই হালার পুত এখন কি মদ খাওয়ার সময় রাতের বেলা মদ খাই দিনের বেলাও মাঝেমধ্যে খায় এখন ম*** চ**** ...,Actor,Female,1.0,sexual
1,ঘরে বসে শুট করতে কেমন লেগেছে? ক্যামেরাতে কে ছিলেন?,Singer,Male,2.0,not bully
2,"অরে বাবা, এই টা কোন পাগল????",Actor,Female,2.0,not bully
3,ক্যাপ্টেন অফ বাংলাদেশ,Sports,Male,0.0,not bully
4,পটকা মাছ,Politician,Male,0.0,troll

### basic stats

In [4]:
print("Number of rows: ",data.shape[0])
print("Number of columns: ",data.shape[1])

Number of rows:  44001
Number of columns:  5

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44001 entries, 0 to 44000
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   comment               44001 non-null  object
 1   Category              44001 non-null  object
 2   Gender                44001 non-null  object
 3   comment react number  43998 non-null  float64
 4   label                 44001 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.7+ MB

## data preprocessing

In [6]:
#delete unnecessary columns
data1 = data.drop(columns=['Category', 'Gender', 'comment react number'])
data1.head()

,comment,label
0,ওই হালার পুত এখন কি মদ খাওয়ার সময় রাতের বেলা মদ খাই দিনের বেলাও মাঝেমধ্যে খায় এখন ম*** চ**** ...,sexual
1,ঘরে বসে শুট করতে কেমন লেগেছে? ক্যামেরাতে কে ছিলেন?,not bully
2,"অরে বাবা, এই টা কোন পাগল????",not bully
3,ক্যাপ্টেন অফ বাংলাদেশ,not bully
4,পটকা মাছ,troll

In [7]:
#Delete Null Value
data1.isnull().sum()

comment    0
label      0
dtype: int64

In [8]:
#Delete Duplicate Data
#data.comment.duplicated().sum()
data1.duplicated().sum()
#data.loc[data.duplicated(keep='first'), :]
#data.drop_duplicates(keep='first').shape
#data.duplicated(subset=['comment', 'label']).sum()

403

In [12]:
#data1["comment"][0]

In [10]:
def remove_punctuation(txt):
    txt = re.sub('[^\u0980-\u09FF]', ' ', str(txt))
    return txt

In [11]:
data1['clean_comment'] = data1['comment'].apply(remove_punctuation)
data1.head()

,comment,label,clean_comment
0,ওই হালার পুত এখন কি মদ খাওয়ার সময় রাতের বেলা মদ খাই দিনের বেলাও মাঝেমধ্যে খায় এখন ম*** চ**** ...,sexual,ওই হালার পুত এখন কি মদ খাওয়ার সময় রাতের বেলা মদ খাই দিনের বেলাও মাঝেমধ্যে খায় এখন ম চ ...
1,ঘরে বসে শুট করতে কেমন লেগেছে? ক্যামেরাতে কে ছিলেন?,not bully,ঘরে বসে শুট করতে কেমন লেগেছে ক্যামেরাতে কে ছিলেন
2,"অরে বাবা, এই টা কোন পাগল????",not bully,অরে বাবা এই টা কোন পাগল
3,ক্যাপ্টেন অফ বাংলাদেশ,not bully,ক্যাপ্টেন অফ বাংলাদেশ
4,পটকা মাছ,troll,পটকা মাছ